dump.rdb
lib-cov
*.log
*.csv
*.out
*.pid
pids
logs
results
node_modules
bower_components
npm-debug.log
.idea
.DS_Store
log/*.log
.c9revisions
coverage.html
.settings
doc

public/upload/*
!public/upload/*.keep
coverage
deps
public/javascripts/cache*
public/javascripts/i18n.js
man
