<div class="page-title">
    <h3>Edit post</h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-body">
                <%- editForm %>
    		</div>
    	</div>
    </div>
</div>
