<%- widgetTitle() %>

<div class="inline-edit" data-html="<%- canEdit ? escape(widget.settings.content || '').replace(/^\s+|\s+$/g,'') : '' %>">
    <%- widget.settings && widget.settings.content || t('content.empty') %>
</div>
