<div class="page-title">
    <h3><%- t('modules.headers.manageModules') %></h3>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="module grid-body">
                <% include _table %>
            </div>
        </div>
    </div>
</div>