<div class="header-container">
    <div class="container">
        <div class="row">
            <div class="column col-md-<%- size[0] || 12 %> widget-list">
                <%- column[0] %>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="column col-md-<%- size[0] || 12 %> widget-list"><%- column.slice(1).join(' ') %></div>
    </div>
</div>

<div class="col">1</div>
