<%- widgetTitle() %>

<form role="form" rel="ajax" action="<%- widgetCoreAction('post') %>" method="POST">
	<div class="form-group">
		<textarea class="form-control input-lg" rows="3" placeholder="<%- widget.settings.prompt %>" name="text" id="text" rel="submitcommandenter"></textarea>
	</div>

	<div class="form-group">
		<a href="#add-file-<%- widget.id %>" class="btn btn-default" rel="selectfile"><i class="fa fa-camera"></i></a>	
		<button class="btn btn-primary pull-right" type="submit">Post update</button>
	</div>

	<div class="clearfix"></div>
</form>

<script type="text/javascript">
	<% include js/handler.js %>
</script>