<div class="modal fade" id="webfonts-modal" style="display : none; overflow : visible; width : 400px; margin-left : -200px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Google web-fonts selector</h3>
    </div>
    <div class="modal-body">
        <iframe frameborder="0" src="about:blank" width="100%" height="320" id="webfonts-iframe" name="webfonts-iframe"></iframe>
    </div>
    <div class="modal-footer">
        <div class="btn-toolbar" style="margin : 0;">
            <button class="btn btn-primary" type="submit" id="useWebFont">Use selected font</button>
            <a class="btn" data-dismiss="modal">Cancel</a>
        </div>
    </div>
</div>